<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Saad Ahmed Bari</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/projects">Projects</a>
        <a href="/education">Education</a>
    </nav>
    <main>
        <section class="intro">
            <h2>About Me</h2>
            <p>Hey there! I’m Saad, currently cruising through my final year at FAST NUCES, Karachi, where I’m honing my skills in Computer Science. Data isn’t just numbers to me; it’s a language I’m fluent in, spanning the realms of data analysis, engineering, and the thrilling frontiers of machine learning and artificial intelligence.

                My journey has taken me through dynamic internships—crunching numbers and weaving data stories at Foodpanda as a Data Analyst Intern, and exploring the predictive powers of AI at Foretheta as a Data Science Intern. These experiences have not only sharpened my analytical abilities but also fueled my passion for turning data into actionable insights.
                
                On my portfolio, you’ll find a tapestry of projects and explorations that are a testament to my commitment to mastering this craft. Whether you’re a fellow data enthusiast, a potential collaborator, or just curious about the power of data, I invite you to explore my work and join me on this exhilarating journey of discovery and innovation! Explore and enjoy!</p>
        </section>
        <section class="features">
            <a href="/projects" class="feature-box">
                <i class="fas fa-code"></i>
                <h3>Innovative Projects</h3>
                <p>Explore the projects I've worked on, involving advanced technologies and innovative solutions.</p>
            </a>
            <a href="/education" class="feature-box">
                <i class="fas fa-graduation-cap"></i>
                <h3>Education Journey</h3>
                <p>Take a look at my educational journey starting from high school up to higher education.</p>
            </a>
        </section>
    </main>
    <footer>
        <p>© 2024 All rights reserved.</p>
    </footer>
</body>
</html>
